<nav class="nav">
    <div>
        <h1>LCOGT Planet Database</h1>
    </div>
    <ul class="flex">
        <li><a <%if(active=="Home"){%>class="active"<%}%> href="/">Home</a></li>
        <li><a <%if(active=="Add"){%>class="active"<%}%> href="/planets/add">Add</a></li>
    </ul>
</nav>